@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.comment-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: solid 2px $color-mercury;

    @include tablet {
        justify-content: flex-start;
    }

    &__img {
        height: 2.25rem;
        width: 2.25rem;
        background-color: $color-mercury;
        border-radius: 50%;

        @include tablet {
            margin-right: 1rem;
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        width: 75vw;

        @include tablet {
            width: 90vw;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.5rem;
        }

        &__comment {
            padding-bottom: 1rem;
        }
    }
}