@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

@font-face {
    font-family: "Avenir Next";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("otf");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir Next";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("otf");
    font-weight: 700;
}

.search-section {

    &-wrapper__input::placeholder {
        font-size: .625rem;
        color: $color-black;
        font-weight: 500;
    }

    &__button {
        font-size: 12px;
        font-weight: 600;

        &-tablet {
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.video {

    &__title {
        font-size: 1.5rem;
        font-weight: 600;

        @include tablet {
            font-size: 2.0625rem;
        }
    }

    &__desc {
        font-size: .8125rem;

        @include tablet {
            font-size: .875rem;
        }
    }
}

.video-info {

    &-left {

        &__author {
            font-size: .8125rem;
            font-weight: 600;

            @include tablet {
                font-size: .875rem;
            }
        }

        &__date {
            font-size: .8125rem;
            color: $color-silver;

            @include tablet {
                font-size: .875rem;
            }
        }
    }

    &-right {

        &-views__viewcount {
            font-size: .8125rem;
            color: $color-silver;

            @include tablet {
                font-size: .875rem;
            }
        }

        &-likes__likecount {
            font-size: .8125rem;
            color: $color-silver;

            @include tablet {
                font-size: .875rem;
            }
        }
    }
}

.video__desc {
    font-size: .8125rem;
}

.input-wrapper {

    &__label {
        font-size: .75rem;
        color: $color-silver;
        font-weight: 550;
    }

    &__text {

        &::placeholder {
            color: $color-black;
            font-weight: 500;
        }
    }

    &__submit {
        color: $color-white;
        font-weight: 500;
    }
}

.comment-card-wrapper {

    &-top {

        &__name {
            font-size: .875rem;
            font-weight: 600;
        }

        &__date {
            font-size: .875rem;
            color: $color-silver;
        }
    }

    &__comment {
        font-size: .875rem;
    }
}

.next-videos {

    &__header {
        font-size: .875rem;
        color: $color-silver;
        font-weight: 600;
    }
}

.next-video {

    &-wrapper {

        &__title {
            font-size: .8125rem;
            font-weight: 600;
        }

        &__channel {
            font-size: .8125rem;
            font-weight: 400;
        }
    }
}