//colors

$color-black: #323232;
$color-blue: #0095FF;
$color-silver: #AFAFAF;
$color-white: #FFFFFF;
$color-dark-black: #000000;
$color-dark-blue: #0065AD;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;